# Artefactos de compilación
firmware/build/
*.o
*.d

# Simulador LVGL (se clona aparte, no se versiona)
lv_port_pc_vscode/

# ESP-IDF
.pio/
managed_components/
sdkconfig.old

# Editores
.vscode/
.idea/
*.swp

# Sistema
Thumbs.db
.DS_Store
