# Artefactos de compilación
firmware/build/
*.o
*.d

# ESP-IDF
.pio/
managed_components/
sdkconfig.old

# Editores
.vscode/
.idea/
*.swp

# Sistema
Thumbs.db
.DS_Store

# PlatformIO dentro de firmware/
firmware/.pio/
